@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

@keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 2s linear infinite;
  }
  

  @keyframes gradient-shift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .bg-gradient-to-br {
    background-size: 200% 200%;
    animation: gradient-shift 5s ease infinite;
  }
  